PORT=3000

# Neon Database URLs (Use pooled for serverless connection sustainability)
DATABASE_URL=postgres://user:password@host-pooler.region.neon.tech/dbname?sslmode=require
DIRECT_DATABASE_URL=postgres://user:password@host.region.neon.tech/dbname?sslmode=require

# Clerk Credentials
CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_SECRET_KEY=sk_test_...

# Gemini API Credentials
GEMINI_API_KEY=AIzaSy...
